html,body{
    margin:0;
    padding:0;
    height: 100%;
}
.section1{
    width: 100%;
    height: 100%;
    background-image: url(images/back.jpg);
    background-size: 100% 100%;
   /*тимчасово побуде невидимим*/
   /* display: none;*/
}
header{
    box-sizing: border-box;
    height: 60px;
    background-color: #444;
    display: inline-block;
}
.logo{
    height: 100%;
    display: inline-block;
}
.logo>img{
    width: 100%;
    height:100%;
}
.main_menu{
    display: inline-block;
    height:100%;
    float:right;
}
.main_ul{
    display: inline-block;
    color:white;
    width: 100%;
}
.main_ul>li{
    margin: 0;
    display: inline-block;
    line-height: 60px;
    margin-right: 5%;
    text-decoration: none;
}
.main_ul a{
    color:white;
  
}
.main_ul a:hover{
    text-decoration: none;
    color:gainsboro;
}