@keyframes kek{
    from{margin-top:10%; }
    50%{margin-top: 12%;}
    to{margin-top: 10%;}
}

html,body{
    margin:0;
    padding:0;
    height: 100%;
    background-color: #605b5b;
}
::-webkit-scrollbar {
     width: 0.1%;   
}
.section1{
    width: 100%;
    height: 100%;
    background-image: url(images/back.jpg);
    background-size: 100% 100%;
    padding-top:20%; 
    transition: 1s ease-in-out;
   
}
.ITuse{
    margin: auto;
    text-align: center;
    Color:white;
}
.ITuse>i{
    font-size: 30px;
}
.angle{
    margin: auto;
    text-align: center;
    font-size: 40px;
    color:white;
    margin-top: 10%;
    transition: 1s ease-in-out;
    animation: kek 1.5s infinite;
    
}
.angle:hover{
    -webkit-box-shadow: -28px -57px 246px 43px rgba(0,0,0,0.75);
    -moz-box-shadow: -28px -57px 246px 43px rgba(0,0,0,0.75);
    box-shadow: -28px -57px 246px 43px rgba(0,0,0,0.75);
    animation-play-state: paused; 
    
}

.section2{
    display: none;
    padding: 0;
    margin: 0;
}
header{
    box-sizing: border-box;
    height: 60px;
    background-color: #444;
    display: inline-block;
}
.logo{
    height: 100%;
    display: inline-block;
}
.logo>img{
    width: 100%;
    height:100%;
}
.main_menu{
    display: inline-block;
    height:100%;
    float:right;
}
.main_ul{
    display: inline-block;
    color:white;
    width: 100%;
}
.main_ul>li{
    margin: 0;
    display: inline-block;
    line-height: 60px;
    margin-right: 5%;
    text-decoration: none;
}
.main_ul a{
    color:white;
  
}
.main_ul a:hover{
    text-decoration: none;
    color:gainsboro;
}
.video{
    margin: 0;
    padding: 0;
    height: 500px;
    margin-bottom: 20%;
}
.video video{
   margin: 0;
   min-width:100%;
   min-height: 100%;
   overflow:hidden;
}
.why{
    border: 1px solid white;
    clear: both;
}

.w1{
    float:left;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 2%;
    color:white;
}